@font-face {
  font-family: "Mona Sans";
  src: url("/fonts/Mona-Sans.woff2") format("woff2 supports variations"),
    url("/fonts/Mona-Sans.woff2") format("woff2-variations");
  font-weight: 200 900;
  font-stretch: 75% 125%;
}
html{
  font-size: 62.5%;
}
:root{
  /* CSS HEX */
--eerie-black: #1E201Dff;
--eggshell: #EFE9D7ff;
--spanish-gray: #999791ff;

/* alts  */
--spanish-gray-hover: #787771;
--eerie-black-card: #2c2f2a;
--eerie-black-card-hover:#272b26 ;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Mona Sans";
  background-color: var(--eerie-black);
  color: var(--eggshell);
}


a{

  transition: .2s;
  
}
a:link {
  color: var(--eggshell);
  text-decoration: none;
}
a:visited {
  color: var(--eggshell);
}
a:hover {
  color: var(--spanish-gray-hover);
  
  
}


li {
  list-style: none;
}


