@font-face {
  font-family: "Mona Sans";
  src: url("/fonts/Mona-Sans.woff2") format("woff2 supports variations"),
    url("/fonts/Mona-Sans.woff2") format("woff2-variations");
  font-weight: 200 900;
  font-stretch: 75% 125%;
}
html {
  font-size: 62.5%;
}
:root {
  /* CSS HEX */
  --eerie-black: #1e201dff;
  --eggshell: #efe9d7ff;
  --spanish-gray: #999791ff;

  /* alts  */
  --spanish-gray-hover: #787771;
  --eerie-black-card: #2c2f2a;
  --eerie-black-card-hover: #272b26;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Mona Sans";
  background-color: var(--eerie-black);
  color: var(--eggshell);
}

main {
  margin: 4rem auto;
  padding: 0 20rem;
  max-width: 120rem;
  min-height: 45vh;
}

a {
  transition: 0.2s;
}
a:link {
  color: var(--eggshell);
  text-decoration: none;
}
a:visited {
  color: var(--eggshell);
}
a:hover {
  color: var(--spanish-gray-hover);
}



/* targeting styling on a post is odd */
ol{
  margin-top: 1rem;
}
li{
  margin-left: 1rem;
  font-size: 1.8rem;
  line-height: 1.6;
}

/* text formatting */

h1{font-size: 4.8rem;}
h2{
  font-size: 2.8rem;
  margin-top:2rem;
}
h3{
  font-size: 2.5rem;
  margin-top: 2rem;

}
p{
  font-size: 1.8rem;
  line-height: 1.6;
  margin-top: 2rem;
}
.post-date{
  font-size: 1.6rem;
  
}

@media screen and (max-width: 820px) {
  .nav-links {
    font-size: 3rem;
    margin-left: 0;
  }
  .nav-links-container {
    justify-content: space-between;
  }
  .header {
    flex-direction: column;
    align-items: center;
    padding:1rem 3rem ;
  }

  .main {
    padding: 0 2rem;
  }
}
