---
import BaseLayout from "../Layouts/BaseLayout.astro";
const pageTitle = "About";
---

<BaseLayout pageTitle={pageTitle}>
  <p>This is where you will learn about ya boi charles

  </p>
</BaseLayout>
