---
import BaseLayout from "../Layouts/BaseLayout.astro";
const pageTitle = "Home";
---

<BaseLayout pageTitle={pageTitle}>
  <h2>HELLO!</h2>
  <p>This is the home page! </p>
  <p>I made this!</p>
  <p>** Please ignore all text formatting, still workin on it! **  </p>
</BaseLayout>
