---
---

<a href="/posts/post-1">
  <div class="card">
    <h2>Fill Post Title</h2>
    <p>December 8, 2022</p>
    <p>Here is where the subtitle will fill</p>
  </div>
</a>

<style>
  a {
    text-decoration: none;
    color: white;
  }

  .card {
    border-radius: 6px;
    background-color: #141212 ;
    transition:.2s;
  
    padding: 10px 20px ;
  }
  .card:hover{
    background-color:#040303;
    padding-left:  30px;
  }
 
</style>
