---
const { title, url, pubDate, description } = Astro.props;
import "../styles/global.css";
---

<!-- Dynamically load post title, date and subtile into card... -->
<li>
  <a href={url}>
    <div class="card">
      <h2>{title}</h2>
      <span class="post-date" >{pubDate}</span>
      <p>{description}</p>
    </div>
  </a>
</li>

<!-- styles  -->
<style>
  p{
    margin-top: 1rem;
    
  }
  a {
    text-decoration: none;
    color: var(--eerie-black);
  }
  a:hover{
    text-decoration: none;
  }
  .card {
    border-radius: .6rem;
    background-color: var(--eerie-black-card);
    color: var(--eggshell);

    transition: 0.4s;
    margin: 2rem;
    padding: 2rem 3rem;
  }
  .card:hover {
    background-color: var(--eerie-black-card-hover);
    padding-left: 4rem;
    
  }
</style>
