---
const { title, url, pubDate, description } = Astro.props;
import "../styles/global.css"
---

<!-- Dynamically load post title, date and subtile into card... -->
<li>
  <a href={url}>
    <div class="card">
      <h2>{title}</h2>
      <p>{pubDate}</p>
      <p>{description}</p>
    </div>
  </a>
</li>

<!-- styles  -->
<style>
  li{list-style: none;}
  a {
    text-decoration: none;
    color: var(--eerie-black);;
  }

  .card {
    border-radius: 6px;
    background-color:var(--eerie-black-card);
    color: var(--eggshell);
    

    transition: 0.4s;
    margin-top: 20px;
    padding: 10px 20px;
  }
  .card:hover {
    background-color: var(--eerie-black-card-hover);
    padding-left: 30px;
    
  }
</style>
