---
import Socials from "./Socials.astro";
---

<div>
  <Socials />
</div>

<style>
  div {
    border-top: .7rem solid var(--spanish-gray);
    font-size: 2.4rem;
    font-style: oblique;
    font-weight: 900;
    display: flex;
    justify-content: center;
    padding: 3rem;
  }
</style>
