---
import Nav from "./Nav.astro";
import Socials from "./Socials.astro";
---

<div>
  <Socials />
</div>

<style>
  div {
    font-size: 1.25rem;
    font-style: oblique;
    font-weight: 900;
    display: flex;
    flex-direction: ;
    justify-content: center;
    margin-top: 5rem;
    margin-bottom: 5rem;
  }
</style>
