---
import Socials from "./Socials.astro";
---

<div>
  <Socials />
</div>

<style>
  div {
    border-top: 5px solid var(--spanish-gray);
    font-size: 1.5rem;
    font-style: oblique;
    font-weight: 900;
    display: flex;
    justify-content: center;
    padding: 2rem;
  }
</style>
