---
import Nav from "./Nav.astro";
---

<div>
  <img src="/skull-2.png" alt="">
  <Nav />
</div>

<style>
  div {
    border-bottom: 5px solid var(--spanish-gray);
    width: 100%;
    font-size: 3rem;
    font-style: oblique;
    font-weight: 900;
    display: flex;
    justify-content: center;
    padding: 1rem 3rem;
  }
  img{
   height: 150px;
  
  }
</style>
