---
import Nav from "./Nav.astro";
---

<div class="header">
  <img src="/skull-2.png" alt="">
  <Nav />
</div>

<style>
  div {
    border-bottom: .7rem solid var(--spanish-gray);
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 2rem 5rem;
  }
  img{
   height: 15rem;
  }
</style>
