---
import Nav from "./Nav.astro";
---

<div>
  <Nav />
</div>

<style>
  div {
    border-bottom: 5px solid var(--spanish-gray);
    width: 100%;
    font-size: 1.25rem;
    font-style: oblique;
    font-weight: 900;
    display: flex;
    justify-content: center;
    padding: 3rem;
  }
</style>
