---
import Nav from "./Nav.astro";
---

<div>
  <Nav />
</div>

<style>
  div {
    width: 100%;
    font-size: 1.25rem;
    font-style: oblique;
    font-weight: 900;
    display: flex;
    justify-content: center;
    margin-top: 5rem;
    margin-bottom: 5rem;
  }
</style>
