---
import "../styles/global.css";
---

<div>
  <a href="/">Home</a>
  <a href="/about/">About</a>
  <a href="/blog">Blog</a>
</div>

<style>
  div {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
  }
  a{
    margin-left: 2rem;
  }
</style>
