---

---

<div>
  <a href="/">Home</a>
  <a href="/about/">About</a>
  <a href="/blog">Blog</a>
</div>

<style>
  div {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
    height: 40px;
    
  }

  a{
    margin-left: 1rem;
  }
  a:link {
    color: white;
    text-decoration: none;
  }
  a:visited {
    color: white;
  }
  a:hover {
    color: #fca5a5;
    text-decoration: underline;
  }
</style>
