---
---

<div>
  <a href="https://instagram.com/astro.glob">Instagram</a>
  <a href="https://github.com/vlCodes17">GitHub</a>
</div>

<style>

  div {
    display: flex;
    justify-content: center;
    gap: 3rem; 
    align-items: center;
    width: 50%;
    height: 40px;
  }


</style>
