---
---

<div>
  <ul>
    <li>
      <a href="https://instagram.com/astro.glob">Instagram</a>
      <a href="https://github.com/vlCodes17">GitHub</a>
    </li>
  </ul>
</div>

<style>

  div {
    display: flex;
    
    align-items: center;
    width: 50%;
    height: 40px;
  }

  ul {
    list-style: none;
  }
  a {
    margin-left: 1rem;
    
  }
  a:link {
    color: white;
    text-decoration: none;
  }
  a:visited {
    color: white;
  }

  a:hover {
    color: #fca5a5;
    text-decoration: underline;
  }

</style>
