---
---

<ul>
  <li>
    <a href="instagram.com/astro.glob">Instagram</a>
    <a href="github.com/vlCodes17">GitHub</a>
  </li>
</ul>

<style>
  ul {
    list-style: none;
  }
  a {
    margin-left: 1rem;
  }
  a:link {
    color: white;
    text-decoration: none;
  }
  a:visited {
    color: white;
  }
  a:hover {
    color: #fca5a5;
    text-decoration: underline;
  }
</style>
